{% extends "layout.html" %}

{% block title %}
    Review
{% endblock %}

{% block main %}
    <form action="/review" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="title" type="text">
        </div>
        <div class="mb-3">
            <label> score </label><input class="form-control mx-auto w-auto" id="rating" name="rating" type="number" min="0" max="10">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="review" name="review" placeholder="thoughts?" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Post!</button>
    </form>
{% endblock %}